// Style wide settings
$color-text: #333;
$color-gray: #888;
$color-heading: #101010;
$color-link: #17c;
$color-link-hover: #a53;

$link-border: 1px solid #ced2df;

$font-body: 'Open Sans', 'Helvetica Neue', sans-serif;

/* font-heading is a mixing, because headings have more than just a font-family */
@mixin font-heading {
    font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* Modular scale */


$baseline: em(24);
