/* Contrast */
* {
    background-color:#fff;
    color:#000;
    text-shadow:none !important;
    box-shadow:none !important;
}

nav, footer, #decor, #respond {
    display:none;
}

body {
    font:12px/1.4 sans-serif;
}

a {
    color:#000;
    text-decoration:none;
}

h3 {
    font-size:18px;
}

.wrapper{
    margin:0 auto;
    width:85%;
}

/* Don’t let images break anything. */
img{
    max-width:100%;
    height:auto;
}

/* Display the href of any links. */
a:link:after,a:visited:after{
    content:" (" attr(href) ")";
    display:block;
    font-size:smaller;
}

/* Any links that are root relative to your site need prepending with your URL. */
a[href^="/"]:after{
    content:" (http://yoururlhere.com" attr(href) ")";
    font-size:smaller;
}

/* Any Flash/video content can’t be printed so leave a message. */
object:after{
    content:"Flash/video content. Head to http://yoururlhere.com/ to view this content.";
    display:block;
    font-weight:bold;
    margin-bottom:1.5em;
}


/* logo */
#logo a {
    font-size:16px;
    font-weight:700;
}

/* front page */
.front-page {
    padding:0;
}
    .front-page .big {
        color:#000;
        font-size:21px;
    }
    .front-page p {
        color:#000;
        font-family:sans-serif;
        font-size:16px;
    }

/* projects */
.project h3 {
    margin-bottom:0;
}
    .project .url {
        display:block;
    }
