footer {
    color: $color-light;
    font-size:0.75em;
    padding-top:$baseline;
    padding-bottom:$baseline;
    text-align:center;

    a {
       color:#222;
    }

    p {
        margin:0;
    }
}
