.site-footer {
    color: $color-light;
    padding-bottom: $baseline;
    text-align: center;

    a {
       color: $color-text;
    }

    p {
        font-size: 0.75em;
        margin: 0;
    }
}
