
/* Microsoft's slide in */

@-webkit-keyframes slideIn {
    0% { left:3%; opacity: 0; }
    100% { left:0; opacity: 1; }
}

@-moz-keyframes slideIn {
    0% { left:3%; opacity:0; }
    100% { left:0; opacity:1; }
}

@-ms-keyframes "slideIn" {
    0% { left:3%; opacity:0; }
    100% { left:0; opacity:1; }
}

@-o-keyframes "slideIn" {
    0% { left:3%; opacity:0; }
    100% { left:0; opacity:1; }
}

@keyframes slideIn {
    0% { left:3%; opacity:0; }
    100% { left:0; opacity:1; }
}

