
/* breaks long words. sometimes in funny places :) */
.break-words {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word; /* old webkit */
}

/* hide stuff without resorting to display:none; */
.hide{ visibility:hidden; width:0!important; height:0!important; line-height:0!important; padding:0!important; margin:0!important; }

/* Pretty &amp; s */
.amp { font-family: 'Goudy Old Style', Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', serif; font-style:italic; }

/* micro clearfix */
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}
