
/* 98.MISC
----------------------------------------------------------------------------- */

/* hide stuff without resorting to display:none; */
.hide{ visibility:hidden; width:0!important; height:0!important; line-height:0!important; padding:0!important; margin:0!important; }

/* Pretty &amp; s */
.amp { font-family: 'Goudy Old Style', Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', serif; font-style:italic; }

/* micro clearfix */
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}

/* god damn facebook! */
#fb-root { display:none }


@import "_pygments";
